---
import BaseLayout from "../../layouts/BaseLayout.astro";

export function getStaticPaths() {
  return [
    { params: { id: "test" } },
  ];
}

const { id } = Astro.params;
---

<BaseLayout title={`Artifact: ${id}`}>
  <h1>Artifact</h1>
  <p>{id}</p>
</BaseLayout>