---
---

<html>
  <head>
    <title>Connie Digital Garden</title>
  </head>
  <body>
    <h1>Connie Digital Garden</h1>

    <ul>
      <li><a href="/garden">Garden</a></li>
      <li><a href="/family">Family</a></li>
    </ul>
  </body>
</html>